**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/grouping-and-sorting).**

---

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [2]:
import pandas as pd

reviews = pd.read_csv("/Users/krishna/Career/Python/pandas/data/datasets/winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

print("Setup complete.")

Setup complete.

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [12]:
# Your code here
reviews_written = reviews.groupby('taster_twitter_handle').size()
print(reviews_written)

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: title, dtype: int64

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [30]:
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()

reviews.groupby('price')['points'].max()

# get the title of wine of  max point for each price

best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()

# create a list for each price , where ['title', 'max_points'] for each price

title_price_points = reviews.groupby(['price'])['points'].max().sort_index()
title_price_points.values

# Get the name of the wine with the highest point for each price
# names = reviews.loc[(reviews['price'].isin(title_price_points.index)) & (reviews['points'].isin(title_price_points.values)), ['title', 'price', 'points']]
# names.sort_values(by=['price'])

array([ 86,  87,  88,  91,  91,  91,  91,  92,  93,  94,  94,  93,  94,
        93,  94,  94,  96,  94,  95,  94,  95,  95,  95,  96,  96,  96,
        96,  95,  96,  94,  96,  97,  96,  96,  96,  95,  97,  95,  96,
        95,  99,  97,  95,  95,  96,  96,  98,  95,  97,  96,  97,  98,
        96,  96,  97,  97,  98,  95,  96,  96,  96,  97,  97,  95,  97,
        98,  98,  95,  96,  96,  95,  99,  95,  95,  97,  97, 100,  97,
        97,  98,  95,  98,  98,  95,  97,  96,  97,  94,  98,  95,  99,
        98,  97,  97,  97,  96,  99,  96,  98,  97,  94,  96,  95,  95,
        95,  95,  98,  96,  95,  95,  95,  97,  97,  94,  96,  94,  98,
        95,  93,  95,  95,  99,  96,  98,  94,  95,  98,  96,  96,  94,
        98,  98,  94,  94,  98,  94,  98,  94,  96,  95,  95,  97,  96,
        97,  93,  96, 100,  98,  97,  93,  95,  98,  93,  94,  95,  99,
        96,  89,  93,  95,  95,  97,  94,  95,  95,  96,  97,  94,  95,
        94,  99,  93,  90,  97,  97,  88,  95,  93,  97,  98,  95,  90,
        93,  98,  93,  94,  95,  97,  96,  93,  94,  96, 100,  95,  93,
        96,  94,  94,  92,  95,  93, 100,  92,  95,  97,  96,  95,  97,
        94,  93,  97,  93,  97,  96,  92,  98,  96,  93,  99,  95,  99,
        95,  95,  97,  95,  94,  97,  94,  94,  97, 100,  95,  93,  98,
        94,  93, 100,  96,  95,  98,  99,  93, 100,  96,  95,  94,  98,
        95,  95,  96,  96,  93,  97,  97,  97,  99,  95,  92,  95,  94,
        99,  94,  96,  96,  98,  94,  95,  95,  95,  94,  96,  96,  94,
        98,  99,  94,  95,  97,  95,  97,  95,  96, 100,  96,  95,  94,
        95, 100,  98,  96,  98,  91,  96,  97,  94,  98,  95,  96,  96,
        93,  95,  95,  95,  96,  97,  95,  96,  95,  95,  93,  99,  94,
        97,  99,  97,  95, 100,  97,  95, 100,  93,  95,  97,  96,  96,
        96,  96,  97,  96,  97,  96,  96,  95,  96,  96,  98,  96,  97,
        96,  94, 100,  99,  95,  97,  96,  94,  95,  99,  96,  95,  97,
       100,  98,  96,  97, 100,  97,  96,  92,  96,  97,  95,  92,  98,
        94,  96,  96,  98,  91,  87,  99,  96, 100,  99,  97,  94,  97,
        95,  94,  97,  97,  94,  96,  96, 100,  98,  97,  91,  96,  88])

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [32]:
price_extremes = reviews.groupby('variety').price.agg([min, max])

price_extremes

/var/folders/ln/h_75lhkj1s52p0jhng7jfdvw0000gn/T/ipykernel_17839/2287919024.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  price_extremes = reviews.groupby('variety').price.agg([min, max])
/var/folders/ln/h_75lhkj1s52p0jhng7jfdvw0000gn/T/ipykernel_17839/2287919024.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  price_extremes = reviews.groupby('variety').price.agg([min, max])

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [33]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)
sorted_varieties
# Check your answer

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [ ]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [ ]:
reviewer_mean_ratings.describe()

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [34]:
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
country_variety_counts

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

# Keep going

Move on to the [**data types and missing data**](https://www.kaggle.com/residentmario/data-types-and-missing-values).

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*